<% provide(:title, "Now Showing") %>

<h2 class="mb-6 p-3 text-4xl border-b ">Now Showing</h2>
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
  <% @movies_showing.each do |movie| %>
    <article class="">
      <%= link_to image_tag(movie['image_url'], alt: movie['title'], class: "rounded-t"), '#' %>
      <%#= link_to movie['title'], movie_path(movie), class: "text-3xl font-bold text-center" %>
    </article>
  <% end %>
</section>