<!-- navigation / header -->
<header class="p-3 text-white bg-hero-custom-image bg-cover bg-center bg-no-repeat">
  <div class="flex items-center space-x-20">
    <h1 class="hidden md:block text-2xl font-bold italic"><%= link_to "WeLoveMovies", root_path %></h1>

    <nav class="space-x-5">
        <%= link_to "All Movies", movies_path %>
        <%= link_to "All Theaters", theaters_path %>
    </nav>
  </div>

  <div class="w-3/4 mx-auto my-20">
    <h2 class="mb-3 text-6xl font-light">find your next favorite movie!</h2>
    <p class="text-xl font-light"> <span class="italic">WeLoveMovies</span> is your source for finding reviews of movies in theatres near you.</p>
  </div>
</header>